/*-----------------------------------------------------------------------------------
	Nombre: DISEÑOS DE SITIOS WEB | Fase de Construcción
	URI: 
	Descripcion: Unidad 1 y 2: Fase de Construcción - Crear un OVI en formato WEB con HTML5 y CSS3.
	Autores: Jhonattan Guillermo Rodriguez Rojas - 
-----------------------------------------------------------------------------------*/
.caja {

font-family: franklin ghotic heavy,CenturyGothic,AppleGothic,sans-serif;

color: #ffffff;

font-size: 18px;

font-weight: 400;

text-align: center;

background: #889ccf;

margin: 0 0 25px;

overflow: hidden;

padding: 20px;

border-radius: 35px 0px 35px 0px;

-moz-border-radius: 35px 0px 35px 0px;

-webkit-border-radius: 35px 0px 35px 0px;

border: 2px solid #5878ca;


}

.caja2 {

font-family: franklin ghotic heavy,CenturyGothic,AppleGothic,sans-serif;

color: #ffffff;

font-size: 18px;

font-weight: 400;

text-align: center;

background: #A38567;

margin: 0 0 25px;

overflow: hidden;

padding: 20px;

border-radius: 35px 0px 35px 0px;

-moz-border-radius: 35px 0px 35px 0px;

-webkit-border-radius: 35px 0px 35px 0px;

border: 2px solid #5878ca;


}


.cajaAutor{

font-family: sans-serif;

font-size: 18px;

font-weight: 400;

color: #ffffff;

background: #889ccf;

margin: 0 0 25px;

overflow: hidden;

padding: 20px;

}

.art1{

font-family: franklin ghotic heavy,CenturyGothic,AppleGothic,sans-serif;

color: #ffffff;

font-size: 18px;

font-weight: 400;

text-align: center;

background: #F1D59D;

margin: 0 0 25px;

overflow: hidden;

padding: 20px;

border-radius: 35px 0px 35px 0px;

-moz-border-radius: 35px 0px 35px 0px;

-webkit-border-radius: 35px 0px 35px 0px;

border: 2px solid #5878ca;
}


.art2{

font-family: franklin ghotic heavy,CenturyGothic,AppleGothic,sans-serif;

color: #ffffff;

font-size: 18px;

font-weight: 400;

text-align: center;

background: #DAADFD;

margin: 0 0 25px;

overflow: hidden;

padding: 20px;

border-radius: 50px 40px 50px 40px;

-moz-border-radius: 50px 40px 50px 40px;

-webkit-border-radius: 50px 40px 50px 40px;

border: 2px solid #5878ca;
}

/* ACTIVIDAD 1 CAJA DE TEXTO */
#act1 {
	width: 850px;
	height: 170px;
	background-color: yellow;
	border: 2px solid blue;
	text-align: left;
} 

/* ACTIVIDAD 2 CAJA DE TEXTO */
#act2 {
	width: 850px;
	height: 500px;
	background-color: #7CE0F9;
	border: 2px solid red;
	text-align: left;
} 
/* ACTIVIDAD 3 CAJA DE TEXTO */
#act3 {
	width: 850px;
	height: 170px;
	background-color: #F5B73A;
	border: 2px solid red;
	text-align: left;
} 
/* ACTIVIDAD 4 CAJA DE TEXTO */
#act4 {
	width: 850px;
	height: 170px;
	background-color: #7CE0F9;
	border: 2px solid red;
	text-align: left;
} 

/* ACTIVIDAD 5 y 6 CAJA DE TEXTO */
#act5y6 {
	width: 850px;
	height: 1960px;
	background-color: #F3DFB7;
	border: 2px solid red;
	text-align: left;
} 

 a.button {
    /* Sliding right image */
    background: transparent url('button_right.png') no-repeat scroll top right; 
display: block;
float: left;
height: 32px; /* CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT */
margin-right: 6px;
padding-right: 20px; /* CHENGE THIS VALUE ACCORDING TO RIGHT IMAGE WIDTH */
/* FONT PROPERTIES */
text-decoration: none;
color: #000000;
font-family: Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
}
a.button span {
/* Background left image */ 
background: transparent url('button_left.png') no-repeat; 
display: block;
line-height: 22px; /* CHANGE THIS VALUE ACCORDING TO BUTTONG HEIGHT */
padding: 7px 0 5px 18px;
} 
a.button:hover span{
text-decoration:underline;
}